* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.main-container {
  width: 100%;
  height: 100vh;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-box {
  width: 400px;
  height: 400px;
  background: #ffe0bd;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.show-anwser {
  width: 100%;
  height: 55px;
  background: black;
  margin: 0px 0px 60px 0px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

.box1 {
  display: flex;
}

.intext11,
#intext2 {
  width: 76px;
  font-size: 20px;
  font-weight: 600;
  height: 55px;
  padding: 0px 10px;
  text-align: center;
  border: none;
  background: #fff;
  box-shadow: 1px 1px 0px #999, 2px 2px 0px #999, 3px 2px 0px #999,
    4px 4px 0px #999, 5px 5px 0px #999;
}

.add-s {
  margin: 13px 20px 12px 21px;
  font-size: 25px;
}

#intext2 {
  width: 50px;
  height: 35px;
  margin: 30px 0px;
  padding: 0px 15px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  background: #eac086;
  border: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.btn {
  padding: 8px 20px;
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  border: none;
  font-size: 16px;
  color: black;
  background: white;
  box-shadow: 1px 1px 0px #999, 2px 2px 0px #999, 3px 2px 0px #999,
    4px 4px 0px #999, 5px 5px 0px #999;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.main h1 {
  margin: 30px 0px;
}
.main h1 span {
  color: #ffe0bd;
}
