body {
  margin: 0;
}
.main-header {
  background-color: rgb(38, 70, 83);
  height: 50px;
  display: flex;
  align-items: center;
  /* border-radius: 1ch; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}
.header-info {
  /* float: left; */
  /* position: absolute; */
  display: flex;
  align-items: center;
  color: orange;
}

nav.dropdown {
  /* float: right; */
  position: absolute;
  right: 20px;
}

.dropdown a {
  text-decoration: none;
  color: orange;
  margin: 0 5px;
}

img#logo {
  height: 30px;
  margin: 0 15px;
}

/* main  */

main {
  margin-top: 50px;
}

#jumbotron {
  width: 100%;
}

.jumbotron {
  padding: 20px;
  text-align: center;
  background-color: rgb(38, 70, 83);
  height: 650px;
}

.header-flex {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.jumbotron-title {
  color: rgb(224, 251, 252);
  font-size: 30px;
  padding-bottom: 20px;
  display: inline-block;
}

.jumbotron-text {
  color: rgb(224, 251, 252);
  text-align: left;
  padding-bottom: 20px;
  border-bottom: 8px solid rgb(244, 162, 97);
}

/* kamu bisa tambahkan style lainnya */
.jumbotron-img {
  height: 300px;
}

.mini-text-flex {
  display: flex;
  justify-content: flex-start;
}
.mini-text {
  color: rgb(224, 251, 252);
  text-align: left;
  margin-right: 5px;
}
.fa-hand-point-up {
  color: aliceblue;
  font-size: 20px;
}
.icon-down {
  display: none;
}
.fa-hand-point-down {
  color: aliceblue;
  font-size: 20px;
}
button {
  background-color: rgb(38, 70, 83);
  border-style: none;
}
button:hover {
  cursor: pointer;
  transform: translateY(5px);
}

/* p10 */
.main-content {
  display: flex;
  justify-content: flex-start;
  margin: 20px 20px;
}

aside {
  max-width: 18%;
  max-height: 800px;
  border-radius: 10px;
  box-shadow: 0px 0px 30px gainsboro;
  padding: 20px;
  text-align: center;
  margin-top: 50px;
}

.aside-title {
  margin-top: 50px;
  font-size: 25px;
  border-top: 5px solid rgb(38, 70, 83);
  border-radius: 5px;
}

.profile-picture {
  border-style: solid;
  border-radius: 50%;
  padding: 3px;
}

.content {
  margin-left: 10%;
  max-width: 65%;
}

article {
  max-width: 100%;
}

.article-title {
  text-align: center;
  font-size: 30px;
  margin: 50px 0 30px;
}

.maps {
  padding: 10px;
}

iframe {
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 40px gainsboro;
}

footer {
  background-color: rgb(38, 70, 83);
}

.center-footer {
  margin: 0 20px;
}

.main-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.info-top {
  text-align: center;
  width: 100%;
  padding-top: 5px;
  color: rgb(224, 251, 252);
}

.info-center {
  text-align: center;
  width: 100%;
  padding-top: 5px;
  border-top: 1px solid white;
  color: rgb(224, 251, 252);
}

.social-media {
  display: flex;
  justify-content: center;
}

.fa-instagram-square,
.fa-twitter-square,
.fa-facebook-square,
.fa-envelope {
  padding: 5px;
  font-size: 30px;
  color: white;
}

/* P11 */
.toggle {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.btn {
  background-color: transparent;
}

.button:hover {
  cursor: pointer;
}
.green {
  color: green;
}
.red {
  color: red;
}

.project-container {
  display: flex;
  justify-content: space-around;
}

.project {
  margin: 10px 30px;
  border-bottom: 10px solid #e76f51;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 10px gainsboro;
}

.project-title {
  color: #e76f51;
  font-weight: bold;
}

ul,
li {
  position: relative;
}
input {
  width: 70%;
  border: none;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(38, 70, 83);
  height: 40px;
  margin: 0;
  padding: 5px;
}

.addBtn {
  width: 30%;
  padding: 6px;
  background-color: rgb(38, 70, 83);
  margin: 0;
  cursor: pointer;
  color: snow;
  height: 40px;
  border-radius: 5px;
  font-size: 10px;
}
.search-tags-list {
  list-style: none;
  margin: 30px 0;
  padding: 0;
}
.search-tags-item {
  margin: 5px;
  padding: 10px;
  background-color: rgb(38, 70, 83);
  color: snow;
  text-align: left;
}
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 5px;
  color: tomato;
  font-family: "Fredoka One", cursive;
  cursor: pointer;
  font-size: 20px;
}
.contact-container {
  display: flex;
  justify-content: flex-start;
}

.illustration-img {
  margin: 0px;
  width: 800px;
}

.contact {
  display: inline-block;
  margin: 10px 30px;
  text-align: center;
}

.profile-contact-img {
  width: 200px;
}

.form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.icon {
  margin-right: 6px;
}
.fa-user,
.fa-map-marker-alt,
.fa-envelope-open,
.fa-comment {
  font-size: 27px;
}

.form-label {
  position: absolute;
  left: 10px;
  top: 10px;
}

.form-input {
  position: relative;
  width: 100%;
  border-bottom: 1px solid grey;
  outline: none;
  height: 48px;
  margin-bottom: 15px;
  padding: 0;
}
.input-item {
  position: absolute;
  top: 0;
  left: 0;
  border-style: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-size: 15px;
  height: 100%;
}

.textarea-container {
  display: flex;
  justify-content: center;
}
.form-textarea {
  position: relative;
}
.textarea {
  border-style: none;
  border-bottom: 1px solid grey;
  outline: none;
  margin-top: 10px;
}

.submit {
  border-style: none;
  border-radius: 25px;
  color: aliceblue;
  background-color: rgb(38, 70, 83);
  margin: 5px;
  cursor: pointer;
}

.input-item:focus + .form-label {
  top: -5px;
  left: -2px;
  font-size: 10px;
}
.textarea:focus + .form-label {
  top: -5px;
  left: -2px;
  font-size: 10px;
}

.input-item:not(:placeholder-shown).input-item:not(:focus) + .form-label {
  top: -2px;
  left: -2px;
  font-size: 10px;
  color: rgb(138, 130, 130);
}

.textarea:not(:placeholder-shown).textarea:not(:focus) + .form-label {
  top: -2px;
  left: -2px;
  font-size: 10px;
  color: rgb(138, 130, 130);
}

.wave1 {
  position: absolute;
  top: 390px;
  z-index: 2;
}

.wave2 {
  position: absolute;
  top: 430px;
  z-index: 3;
}

/* slider */
.section-slider {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
}

.image-slider {
  position: relative;
  width: 640px;
  height: 426px;
}

.slide {
  width: 100%;
  position: absolute;

  /* slider */
  clip-path: circle(0% at 0 50%);
}
.slide img {
  width: 100%;
  border-radius: 15px;
}
.slide-text {
  position: absolute;
  bottom: 50px;
  left: 30px;
  background-color: rgba(220, 220, 220, 0.609);
  padding: 15px;
  border-radius: 10px;
}

.slide-text h2 {
  font-size: 30px;
  padding: 0;
  margin: 0;
}
.slide-text p {
  font-size: 15px;
  padding: 0;
  margin: 0;
}
.navigation {
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}
.slider-btn {
  background-color: rgb(151, 151, 151);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 5px;
}

.slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}

.slider-btn.active {
  background-color: rgb(38, 70, 83);
}
