.title {
  text-align: center;
}
.form {
  padding: 15px;
  background-color: rgb(159, 231, 174);
  box-shadow: 0 0 5px rgb(116, 240, 142);
  border-radius: 5px;
  width: 30%;
}
label {
  display: inline-block;
  margin-bottom: 5px;
}
input,
textarea {
  display: inline-block;
  margin-bottom: 10px;
  border: none;
  padding: 5px;
  border-radius: 3px;
  width: 100%;
}
