.main-content {
  display: flex;
  justify-content: flex-start;
}
aside {
  width: 30%;
  border-radius: 10px;
  box-shadow: 0px 0px 40px gainsboro;
  text-align: center;
  padding: 10px;
}
.fa-user-circle {
  font-size: 40px;
}
.content {
  padding: 15px;
  margin-left: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 40px gainsboro;
}
