.container {
  display: flex;
  justify-content: space-around;
}

.item {
  display: inline-block;
  padding: 6px;
  background-color: gainsboro;
  border-radius: 10px;
  width: 100px;
  position: relative;
  margin: 0 5px;
  text-align: center;
  box-shadow: 5px 5px 10px rgb(177, 169, 169);
}

.item a {
  text-decoration: none;
  color: rgb(247, 246, 245);
}

.name {
  margin: 0;
}

.company {
  font-size: 10px;
  margin-top: 3px;
}

.img {
  border-radius: 8px;
  margin-top: 5px;
}

.close {
  position: absolute;
  top: 0;
  right: 3px;
  font-weight: bold;
}

.close:hover {
  color: red;
  cursor: pointer;
}
